html, body{
    height:100%;
    width:100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display {
    z-index: 99;
    box-sizing: border-box;
    height:480px;
    width:800px;

    /*background-color: black;*/
    background-image: url("img/bg-winter-2.jpg");
    /* filter:blur(2px); */
    /*background-image: url("img/bg-3.gif");*/
    background-repeat: no-repeat;
    background-position: bottom left;

    display:grid;

    grid-template-columns: 212px 375px 212px;
    /*grid-template-rows: 60px auto 60px;*/
    grid-template-rows: auto 375px auto;

    column-gap: 5px;
    row-gap: 5px;

    justify-items: center;
}

.date-dayName, .date-dayNumber{
    font-size:75px;
    color: #fff;

    display: grid;
    place-items: center;
}
.date-dayName{
    grid-column: 1;
    grid-row: 2;
}

.date-dayNumber{
    grid-column: 3;
    grid-row: 2;
}

.time-analog{
    
    grid-column: 2;
    grid-row: 2;
    
    height:375px;
    width:375px;
    border:5px solid #ccc;
    border-radius: 15px;

}
