html, body{
    height:100%;
    width:100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display {
    z-index: 99;
    box-sizing: border-box;
    height:480px;
    width:800px;

    /*background-color: black;*/
    background-image: url("img/bg-2.jpg");
    /*background-image: url("img/bg-3.gif");*/
    background-repeat: no-repeat;
    background-position: bottom left;

    display:grid;

    grid-template-columns: auto 375px auto;
    /*grid-template-rows: 60px auto 60px;*/
    grid-template-rows: auto auto;

    column-gap: 5px;
    row-gap: 5px;

    justify-items: center;
}


.date{

    padding-top:5px;
    color: white;
    opacity: 0.8;

    grid-column-start: 2;
    grid-row-start: 1;

    font-size:50px;
}

.time{
    
    color: white;
    opacity: 0.8;
    grid-column-start: 2;
    grid-row-start: 2;

    font-size:160px;

    /* put the time in the center */
    display:grid;
    place-items: center;
}

.time-analog{
    
    grid-column-start: 2;
    grid-row-start: 3;
    
    height:350px;
    width:350px;
    border:5px solid #ccc;
    border-radius: 15px;
}
