html, body{
    height:100%;
    width:100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display {
    z-index: 99;
    box-sizing: border-box;
    height:480px;
    width:800px;

    /*background-color: black;*/
    background-image: url("img/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: top left;

    display:grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px auto 60px;

    column-gap: 5px;
    row-gap: 5px;

    justify-items: center;
}


.date{

    padding-top:5px;
    color: white;
    opacity: 0.8;

    grid-column-start: 2;
    grid-row-start: 1;

    font-size:40px;
}

.time{
    
    color: white;
    opacity: 0.8;
    grid-column-start: 2;
    grid-row-start: 2;

    font-size:160px;

    /* put the time in the center */
    display:grid;
    place-items: center;
}